{% extends 'layout.html' %}

{% block head %}
<title>Admin</title>
<link rel="stylesheet" href="/static/homepage.css">
{% endblock head %}


{% block body %}

    

<section class="content">
      <div class="heading_title">
        <p><h1>ADMIN?</h1></p>
            
            <br><br>
            <div >
                
                
                <a href="/admin/login"><button>LOG IN</button></a>
            </div>
            <br><br>
            <a href="/">Go back to the homepage</a>
           
        
    </div></div>
 
</section>
{% endblock body %}