{% extends 'layout.html' %}

{% block head %}
<title>HOME PAGE</title>
<link rel="stylesheet" href="/static/homepage.css">
{% endblock head %}


{% block body %}

    

<section class="content">
      <div class="heading_title">
        <p><h1>APP TITLE</h1></p>
            <p>Who are you ??</p>
            <br><br>
            <div >
                <a href="/admin"><button>ADMIN</button></a>
                <a href="/user"><button>USER</button></a>
            </div>
        
        
    </div></div>
 
</section>
{% endblock body %}