{% extends 'layout.html' %}

{% block head %}
<title>Admin</title>
<link rel="stylesheet" href="/static/homepage.css">
<link rel="stylesheet" href="/static/tasks.css">


{% endblock head %}


{% block body %}



<section class="content">

    <form action="" method="post">
        <input type="text" name="content" placeholder="Task name" value={{task.task_name}} required>
        <input type="submit" value="Update Task">
    </form>

    <footer>
        <a href="/logout">Logout</a>
        <br>
           <a href="/">Go back to the homepage</a>
    </footer>
   
   
    </div>
    
 
</section>
{% endblock body %}